@mixin fontColor($fontSize, $color) {
  font-size: $fontSize;
  color: $color;
}

.main {
  border: 1px solid;
  border-radius: 10px;
  padding: 35px;
  width: 50vw;
}

.header {
  font-size: 25px;
}

.cal-form {
  &__field {
    display: flex;
    padding: 15px 0;

    label {
      width: 150px;
      @include fontColor(20px, #333);
    }

    select,
    input {
      width: 250px;
      padding: 4px 0;
      font-size: 15px;
    }

    .location {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      &-item {
        width: 150px;
        &__unit {
          width: 50%;
        }
      }
    }
  }

  &--bold {
    font-weight: bold;
  }

  &__total {
    padding-top: 4px;
  }

  .btn {
    padding: 5px 15px;
    margin-left: 150px;
    margin-top: 15px;
  }
}

.button-delete {
  padding-top: 2px !important;
}
