@mixin fontColor($fontSize, $color) {
  font-size: $fontSize;
  color: $color;
}

.header {
  font-size: 25px;
  padding: 15px 0;
}

.locations {
  display: block;
}

.cal-form {
  &__field {
    padding: 15px 0;

    label {
      width: 150px;
      @include fontColor(16px, #333);
    }

    select,
    input {
      width: 250px;
      padding: 4px 0;
      margin-top: 5px;
      font-size: 15px;
      display: block;
    }

    .location {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &-item {
        width: 90px;
        line-height: 48px;

        &__unit {
          width: 50%;
        }
      }
    }
  }

  &--bold {
    font-weight: bold;
  }

  &__total {
    padding-top: 4px;
  }

  .btn {
    padding: 5px 15px;
    margin-left: 150px;
  }
}

.button-delete {
  color: #000;

  &:hover {
    background-color: #ff0000cc !important;
    color: #fff;
    cursor: pointer;
  }
}

@media only screen and (min-width: 576px) {
  .cal-form {
    &__field:not(.locations) {
      display: flex;

      select,
      input {
        margin-top: 0;
      }
    }

    &-item {
      width: 115px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .locations {
    display: flex;
  }

  .cal-form {
    .location {
      padding: 0;

      &-item {
        width: 110px;
      }
    }
  }
}
